body {
  background: radial-gradient(circle, #001a2e, #000814);
  color: #00eaff;
  font-family: Arial, sans-serif;
  text-align: center;
}

#gesturePanel {
  width: 300px;
  margin: 20px auto;
  border: 2px solid #00eaff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00eaff;
}

canvas {
  border: 2px solid #00eaff;
  border-radius: 10px;
  box-shadow: 0 0 25px #00eaff;
  margin-top: 20px;
}

video {
  display: none;
}


